.hero {
    display: grid;
    grid-template-columns: 2fr 10% 1fr;
    grid-template-rows: 450px;
    place-items: center;
    padding-top: 5px;
    padding-bottom: 6px;
    border-bottom: 9px solid #D96191;
}

.phraseHero {
    font-size: 2.1rem;
    line-height: 2.5rem;
}

.authorPhrase {
    padding-right: 30px;
    font-size: 1.5rem;
    text-align: right;
}

.authorPhrase:hover {
    color: #D96191;
    transition: 0.5s;
}

.word {
    background: linear-gradient(to right, hsl(326 61.2% 61.6%), hsl(325.6,71.8%,83.3%));
    background-clip:  text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.firstName {
    font-size: 2.5rem;
    color: #D96191;
    translate: 15% 127%;
} 

.lastName {
    font-size: 2.8rem;
    translate: 80% -59%;  
}

.surname {   
    font-size: 2.8rem;
    color: #D96191;
    translate: 80% -52%;
}

.firstName, .lastName, .surname {
    margin: 0;
    writing-mode: vertical-lr;
    text-transform: uppercase; 
    transform: rotate(180deg);
}

.firstName:hover, .surname:hover {
    color: #F3B6D9;
    transition: 0.5s;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .phraseHero, .authorPhrase {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .firstName {
        translate: 40% 127%;
    } 
    
    .lastName {
        translate: 100% -59%;  
    }
    
    .surname {   
        translate: 100% -52%;
    }
}