.wrapperRotateText {
  position: relative;
  display: grid;
  box-sizing: border-box;
  width: 500px;
  height: 500px;
  padding: 0;
  place-items: center;
  font-weight: bolder;
}

.rotateText {
  position: absolute;
  width: 90%;
  height: 100%;
  margin: 0;
  animation: spin 70s linear infinite;
}

.rotateText span {
  position: absolute;
  top: 65px;
  left: 50%;
  transform-origin: 0 185px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapperRotateText img {
  z-index: -1;
  width: 75%;
  height: auto;
  filter: drop-shadow(10px 10px 5px hsla(0, 0%, 0%, 0.461));
  align-items: left;
}

@media screen and (max-width: 800px) {
  .wrapperRotateText {
    width: 405px;
    height: 405px;
    padding-left: 40px;
  }

  .rotateText span {
    top: 70px;
    left: 56%;
    transform-origin: 0 135px;
  }
}

  @media screen and (max-width: 400px) {
    .wrapperRotateText {
      width: 330px;
      height: 330px;
      padding-left: 60px;
    }

    .rotateText span {
      top: 65px;
      left: 60%;
      font-size: 0.625rem;
      transform-origin: 0 101px;
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
