.portfolio {
    border-top: solid 1px #4e4e4e;
}

.portfolioTitle {
    font-size: 1.4rem;
}

.portfolioGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    place-items: center;
    gap: 25px;
}