.cardImage {
  height: 280px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.cardBox {
  position: relative;
  top: -31px;
  width: 95%;
  height: 400px;
  clip-path: polygon(0 30px, 100% 0, 100% 100%, 0% 100%);
}

.cardBox:hover {
  transform: scale(1.05, 1.05);
}

.cardFrontmatter {
  padding: 30px 30px 10px 30px;
}

.cardTitle {
  display: flex;
  height: 62px;
  align-items: center;
}

.cardDetails {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
  text-transform: capitalize;
}

.cardText {
  font-size: 1.1rem;
}

.cardBoxButton {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.cardButton {
  padding: 15px 30px;
  border-radius: 3px;
  border: none;
  background-color: #d96191;
}

.cardLink {
  background-color: #d96191;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bolder;
  text-decoration: none;
}

.cardLink:hover {
  color: #1c1c1c;
}
