.card__post {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 30px;
    padding-bottom: 30px;
}
  
.card__image {
    height: 278px;
    border-radius: 8px;
}

.post__link {
    background-color: #D96191;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bolder;
    text-decoration: none;
    
}

.post__link:hover {
    color: #1C1C1C;
}

.post__details {
    display: flex;
}

.post__detailsDate {
    text-transform: capitalize;
}

.post__boxButton {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.post__button {
    padding: 15px 30px;
    border-radius: 3px;
    background-color: #D96191;
    border: none;
}
