.projects {
  position: relative;
  display: flex;
  width: 370px;
  height: 370px;
  flex-direction: column;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  overflow: hidden;
}

.projectImage {
  position: absolute;
  top: 0px;
  height: 370px;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.projectDetails {
  position: absolute;
  left: -1px;
  bottom: 0px;
  height: 135px;
  width: 370px;
  padding: 30px 0px 10px 30px;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  clip-path: polygon(0 30px, 100% 0, 100% 100%, 0% 100%);
}

.boxLanguages {
  display: flex;
  gap: 35px;
  font-size: 1.1rem;
}

.languages {
  display: flex;
  gap: 10px;
  align-items: center;
}

.projects:hover .projectDetails {
  height: 55px;
  cursor: pointer;
}
