header {
    max-width: 1200px;
    width: 100%;
    border-bottom: solid 2px #4e4e4e;
}

.nav__list {
    display: flex;
    list-style: none;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.nav__item {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: 2px;
    padding-top: 10px;
}

.nav__links {
    text-decoration: none;
}