header {
    max-width: 1200px;
    width: 100%;
    border-bottom: solid 2px #4e4e4e;
}

.nav__item {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: 2px;
    padding-top: 10px;
}

.nav__links {
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .nav__item {
      font-size: 1rem;
    }
}