footer {
    padding-top: 25px;
}

.footerBox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-top: solid 2px #4e4e4e;
}

.footerText {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 0.9rem;
}